{% extends 'layout/base.html' %}
{% load custom_filters %}
{% block title %}
    Posts
{% endblock title %}

{% block content %}
{% if posts %}
<!-- Здесь мы применяем фильтр date. 
    Он очень похож на метод strftime у даты. 
    С его помощью мы можем выводить дату в нужном 
    нам формате -->
<h3>Текущая дата</h3>
<h3>{{ time_now|date:"d/m/Y"}}</h3>

<h3> {{ value1|default_if_none:"ничего" }} </h3>
<!-- Здесь, если в переменной value1 будет записано None, то выведется текст НИЧЕГО -->
<form method="GET">
    {{ filter.form }}
    <!-- Форму от фильтров за нас сделает Django. А вот кнопку, увы, придётся делать самим -->
    <input class="btn btn-primary" type="submit" value="Найти">
 </form>

<table class="table">
    <tr>
        <th scope="col">Номер</th>
        <th scope="col">Заголовок</th>
        <th scope="col">Дата публикации</th>
        <th scope="col">Текст статьи</th>
        <th scope="col">Автор</th>
        <th scope="col">Категория</th>
        <th scope="col">Действия</th>
    </tr>
    
    {% for post in filter.qs %}
    <tr>
        <td>{{ post.id }}</td>
        <td><a href="{% url 'newspaper:post_detail' post.id %}">{{ post.title|censored }}</a></td>
        <td>{{ post.data_post_creation|date:"d M Y" }}</td>
        <td>{{ post.text|censored|truncatewords:15 }}</td>
        <td>{{ post.author }}</td>
        <td>
        {% for c in post.category.values %}
        <a href="{#% url 'newspaper:category' c.id %#}">{{ c.name }}</a>
            <br>
        {% endfor %}
        </td>
        <td><a href="{% url 'newspaper:post_update' post.id %}">Update</a>
            <a href="{% url 'newspaper:post_delete' post.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
<div>
  {% include 'newspaper/parts/paginator.html' %}  
</div>

{% else %}
    <h2>Новостей нет!</h2>
{% endif %}

<hr>
<button class="btn btn-success"><a href="{% url 'newspaper:post_create' %}"style="color:white">Create
new post</a></button>
 
{% endblock content %}